.blok-explore {
	margin-bottom: 190px;
	padding: 0 161px 0 174px;
}

.blok-explore__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap-reverse;
}

.blok-explore__col {
	flex-shrink: 1;
	flex-grow: 1;
}

.blok-explore__col:first-child {
	max-width: 50%;
}

.blok-explore__col:last-child {
	text-align: end;
}

.blok-explore__col h3 {
	margin-bottom: 7px;
	color: var(--color-sup);
	font-weight: 700;
	font-size: 24px;
}

.blok-explore__col h2 {
	margin-bottom: 7px;
	font-weight: 700;
	font-size: 40px;
	line-height: 57px;
}

.blok-explore__col img {
	width: 250px;
	height: 505px;
	object-fit: cover;
	padding-left: 30px;
}

.blok-explore__col p {
	font-weight: 500;
	font-size: 24px;
	line-height: 38px;
}
