.content-footer__intro {
	display: flex;
	justify-content: space-between;
	padding: 0 161px 27px 174px;
	align-items: center;
}

.content-footer__logo img {
	width: 150px;
	height: 65px;
	object-fit: cover;
}

.content-footer_info p {
	font-size: 12px;
	line-height: 18px;
	font-weight: 700;
}
